*{
    font-family: 'Open Sans', sans-serif;
    
}
body{
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    /* margin-left: 150px;
    margin-left: 120px; */
}
.my-name{
    color:  #181818;
    font-size: 40px;
    font-weight: 800;
    
}
.pakna-model{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    color: #474747;
}
nav a{
    text-decoration: none;
}
.btn-nav{
    color: aliceblue;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
      
}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-size: 600px 400px,100px 535px;
    background-repeat: no-repeat;
    background-position: bottom right,10px center;
    
}
.banner{
    padding: 20px 0px 0px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-title{
    color: aliceblue;
    font-size: 15px;
    font-weight: 200;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
}
.btn-us{
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background: #ffffff;
    margin-left: 16px;

}
.banner img{
    width: 430px;
    /* height: 330px; */
    
}
.banner-greeting{
    font-size: 30px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 50px;
    color: #181818;
    margin-bottom: 0;
}
.banner-p{
    color: #181818;
    font-size: 15px;
}
.banner-tex{
    max-width: 400px;
}
.about{
    text-align: center;
    margin: 50px 0px 50px 0px;
    padding: 40px 80px 40px 80px;
    border-radius: 10px;
    background: #FFF8F3;
    height: 200px;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
}
.section-p{
    color:#757575;
    text-align: center; 
    font-size: 10px;
    font-weight: 400;
}
main{
    max-width: 750px;
    margin: 0 auto;
}
.ab-p{
    color:#757575;
    text-align: center;
    font-size: 10px;
}
.ab-h{
    color:#474747;
    font-family: Open Sans;
    font-size: 10px;
    margin-top: 0;



}
.about-info-container{
    display: flex;
    justify-content: space-evenly;
    
}
.tex-areea{
    padding: 40px 80px 40px 80px;
}
.card{
    width: 160px;
    height: 260px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: aliceblue 0px 3px 20px 0px;
    
    
}
.card-item{
    padding: 25px 20px 20px 20px;
    /* padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px; */
}
.card-area{
    display: flex;
    /* align-items: center; */
    /* padding: 10px; */
    /* justify-content: end; */
    justify-content: space-evenly;
}
.card-item p{
    font-size: 11px;
}
.card-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 0;
}
.card-item h4{
    font-size: 15px;
}